body {
  text-align:  center;
  font-family: Verdana, sans-serif;
  background-color: darkturquoise;
  margin: 10px;
  border: 15px;
  padding: 10px;
}

#anwserbox {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: darkgrey ;
  border: 5px inset darkkhaki;
  padding: 3px;
  width: 50%
}

#warning {
  color: darkred;
}